body {
    background-image: url("../Hello-JS/images/web-background.jpg");
}
h1   {
    color: deeppink;
    text-align: center;
}
h2   {
    color: gold;
    background-color: darkred;
    font-size: 25px;
}

p {
    color: darkseagreen;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}